{% extends 'public/base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<h1 class="text-center p-4 font-playball text-5xl">Contact</h1>
<div class="top-64 right-0 fixed">
  <a href="{{path('app_booking')}}">
      <button class="bg-blue-600 rounded-lg text-white w-8" type="button">
          R</br>é</br>s</br>e</br>r</br>v</br>e</br>r
      </button>
  </a>
</div>
<div class="flex justify-center h-full pb-4">
    <div class="flex flex-col lg:flex-row lg:max-w-l rounded-xl  shadow-xl">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d665.2282396935158!2d5.920568693251551!3d45.56634845663926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478ba8f8d8420b89%3A0x1611f3c4f2f24981!2sPl.%20de%20l&#39;H%C3%B4tel%20de%20ville%2C%2073000%20Chamb%C3%A9ry!5e0!3m2!1sfr!2sfr!4v1676689584233!5m2!1sfr!2sfr" width="550" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <div class="p-6 flex flex-col justify-center">
        <p class="text-gray-700 text-base mb-4">
          Place de l'hotel de ville </br> 73000 CHAMBERY
        </p>
        <p class="text-gray-700 text-base mb-4">
          tél: 04 79 01 02 03 </br> mail: contact@quaiantique.com
        </p>
      </div>
    </div>
  </div>

{% endblock %}
