<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Restaurant Quai Antique | {% block pageTitle%}{% endblock %}{% endblock %}</title>
    {% block stylesheets %}
        {{ vite_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ vite_entry_script_tags('app') }}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
{% include 'admin/_partials/navigation.html.twig' %}
{% include 'global/_partials/toasts.html.twig' %}
<div class="lg:ml-[300px] flex min-h-screen flex-col">
    {% block body %}{% endblock %}
    {% include 'admin/_partials/footer.html.twig' %}
</div>
</body>
</html>
