{% extends 'public/base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
<body class="bg-white font-family-karla h-screen">

    <div class="w-full flex flex-wrap">

        <!-- Login Section -->
        <div class="w-full md:w-1/2 flex flex-col">

            <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                <p class="text-center text-5xl font-playball">Réservation</p>
                <form class="flex flex-col pt-3 md:pt-8" onsubmit="event.preventDefault();">
                    <div class="flex flex-col pt-4">
                        <label for="name" class="text-lg">Nom</label>
                        <input type="text" id="name" placeholder="Henri" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="flex flex-col pt-4">
                        <label for="tel" class="text-lg">Téléphone</label>
                        <input type="phone" id="tel" placeholder="01 02 03 04 05" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="flex flex-col pt-4">
                        <label for="allergies" class="text-lg">Allergies</label>
                        <input type="text" id="allergies" placeholder="Gluten" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="flex flex-col pt-4">
                        <label for="guest" class="text-lg">Nombre de convives</label>
                            <select class="block w-full mt-1">
                              <option>2</option>
                              <option>4</option>
                              <option>6</option>
                              <option>8</option>
                            </select>
                        </label>
                    </div>
                    <div class="flex flex-row pt-4">
                        <div class="flex ">
                            <label for="day" class="text-lg"></label>
                            <input type="date" id="day"  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                        </div>
                        <div class=" ml-5 flex">
                            <label for="meal" class="text-lg mt-2 mr-5">à</label>
                                <select class="block w-full mt-1">
                                    <option>Midi</option>
                                    <option>Soir</option>
                                </select>
                            </label>
                        </div>
                        {# <div class=" ml-5 flex">
                            <label for="hour" class="text-lg mt-2 mr-5">à</label>
                                <select class="block w-full mt-1">
                                    {% if Midi is true %}
                                        <option>12h00</option>
                                        <option>12h15</option>
                                        <option>12h30</option>
                                        <option>12h45</option>
                                        <option>13h00</option>
                                        <option>13h15</option>
                                        <option>13h30</option>
                                        <option>13h45</option>
                                    {% else %}
                                        <option>19h00</option>
                                        <option>19h15</option>
                                        <option>19h30</option>
                                        <option>19h45</option>
                                        <option>20h00</option>
                                        <option>20h15</option>
                                        <option>20h30</option>
                                        <option>20h45</option>
                                    {% endif %}
                                </select>
                            </label>
                        </div> #}
                    </div>
                    
                    <input type="submit" value="Submit" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8">
                </form>
            </div>

        </div>

        <!-- Image Section -->
        <div class="w-1/2">
            <img class="object-cover w-full h-screen hidden md:block rounded" src="{{ asset('assets/img/resa.jpg') }}">
        </div>
        
    </div>

</body>
{% endblock %}
