{% extends 'public/base.html.twig' %}

{% block body %}
    <main class="flex-grow">
        <div class="mx-auto flex flex-col h-full">
            <div class="flex h-full">
                <div class="w-full md:w-1/2 mx-auto p-4">
                    <h1 class="text-center font-playball text-5xl">Réservation</h1>
                    <div class="w-full lg:w-1/2 mx-auto">
                        {{ include('public/booking/_form.html.twig') }}
                    </div>
                </div>
                <div class="hidden md:block md:w-1/2 reservation-bg bg-cover bg-center"></div>
            </div>
        </div>
    </main>
{% endblock %}


