{% extends 'public/base.html.twig' %}

{% block body %}
    <h1>Create new Booking</h1>

    {{ include('public/booking/_form.html.twig') }}

    <a href="{{ path('app_booking') }}">back to list</a>
{% endblock %}
