<form method="post" action="{{ path('app_profile_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer votre compte? Cette action est irréversible !');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="rounded px-4 py-2 bg-red-200 hover:bg-red-400">Supprimer mon compte</button>
</form>
