{% extends 'public/base.html.twig' %}

{% block title %}Hello MenusController!{% endblock %}

{% block body %}
    <main class="mx-auto w-full max-w-7xl flex-wrap px-4">

        <h1 class="mt-10 text-5xl text-center font-playball mb-20">Carte</h1>
        <div class="mt-4 min-w-full ">
            <h3 class="flex-row text-start text-3xl font-playball mx-10 underline underline-offset-4 mt-4 ">Entrée</h3>
            <div class="flex flex-row justify-start ">
                {#                {{ dump(menus) }} #}
                {#                {% for menu in menus %} #}
                {#                        <div class="justify-start flex"> #}
                {#                            <div class="flex-col p-2 text-gray-700 font-bold text-lg">{{ menu.title }}</div> #}
                {#                                <div class="flex-col p-2 text-sm text-gray-500">{{ menu.description }}</div> #}
                {#                                <div class="flex-col p-2 text-sm text-gray-500">{{ menu.price|format_currency('EUR') }}</div> #}
                {#                            </div> #}
                {#                        </div> #}
                {#                {% else %} #}
                {#                    <tr> #}
                {#                        <td colspan="6" class="text-center p-4">Aucun plat enregistré</td> #}
                {#                    </tr> #}
                {#                {% endfor %} #}
            </div>
        </div>
        {% include 'public/_partials/bookingside.html.twig' %}
    </main>
{% endblock %}
