{% extends 'public/base.html.twig' %}

{% block title %}Carte{% endblock %}

{% block body %}
    
        <main class="mx-auto w-full max-w-7xl flex-wrap px-4 ">
           
            <h1 class="mt-10 text-5xl text-center font-playball mb-5">Galerie</h1>
                
            <section class="overflow-hidden text-neutral-700">
                <div class="container mx-auto px-5 py-2 lg:px-28 lg:pt-14">
                  <div class="-m-1 flex flex-wrap md:-m-2">
                    {% for image in images %}
                        <div class="w-full h-72 relative m-5">
                            <div class="absolute inset-0 bg-cover bg-center z-0 rounded-lg" 	style="background-image: url( {{vich_uploader_asset(image)}} ); min-height: 10vh;"
                            ></div>
                            <div class="opacity-0 hover:opacity-100 duration-300 absolute inset-0 z-10 flex justify-center items-center text-4xl text-white text-center font-semibold">{{image.title}}</div>
                          </div>
                      {# <div class="w-full p-1 md:p-2">
                        <img
                          alt="{{image.title}}"
                          class="block h-full w-full rounded-lg object-cover object-center "
                          src="{{ vich_uploader_asset(image) }}" />
                      </div> #}
                      {# <div class="w-1/2 p-1 md:p-2">
                        <img
                          alt="gallery"
                          class="block h-full w-full rounded-lg object-cover object-center"
                          src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(72).webp" />
                      </div>
                      <div class="w-full p-1 md:p-2">
                        <img
                          alt="gallery"
                          class="block h-full w-full rounded-lg object-cover object-center"
                          src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                      </div>
                    </div>
                    <div class="flex w-1/2 flex-wrap">
                      <div class="w-full p-1 md:p-2">
                        <img
                          alt="gallery"
                          class="block h-full w-full rounded-lg object-cover object-center"
                          src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(74).webp" />
                      </div>
                      <div class="w-1/2 p-1 md:p-2">
                        <img
                          alt="gallery"
                          class="block h-full w-full rounded-lg object-cover object-center"
                          src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(75).webp" />
                      </div>
                      <div class="w-1/2 p-1 md:p-2">
                        <img
                          alt="gallery"
                          class="block h-full w-full rounded-lg object-cover object-center"
                          src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(77).webp" />
                      </div>
                    </div> #}
                    {% endfor %}
                  </div>
                </div>
              </section>
        </main>


{% endblock %}
