<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('assets/img/favicon.svg') }}" type="image/svg+xml">
    {% block stylesheets %}
        {{ vite_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ vite_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% include 'public/_partials/navigation.html.twig' %}
{% include 'global/_partials/toasts.html.twig' %}
{% block body %}{% endblock %}
{% include 'public/_partials/footer.html.twig' %}
</body>
</html>
